body {
    background: pink
}

p{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    float: right;
    color: black;
}

a:hover {
    background-color: white;
}

.active {
    color:blue; 
    animation-name: animate;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {color:teal}
    25% {color: white}
    50% {color: lightblue}
    75% {color: lightgreen}
    100% {color: teal}

}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }